<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reward estimator</title>
</head>
<body>
<h2>Steem Post Reward Estimator</h2>
<p>
    URL: <a href="https://steemit.com{{post.url}}">{{post.identifier}}</a>
</p>

<ul>
    <li>Total Rewards: <strong>${{total}}</strong></li>
    <li>Author Rewards: <strong>${{author}}</strong></li>
    <li>Curation Rewards: <strong>${{curation}}</strong></li>
    <li>Beneficiaries: <strong>${{beneficiaries}}</strong></li>
</ul>

<p>
    <i>Note that, these values are estimations. <br>The actual rewards
        paid out after the post gets its payout may vary.
    </i>
</p>
</body>
</html>